h2{
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size:40px;
}
.form-control{
    border:1px solid black;


}
.form-label{
    font-weight:700;
}
.MainInputBoots{    
    
}